/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap");

/* Reset everything so we can align ourself */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* COLORS */
:root {
  --purple_: #bbb2e9;
  --charcoal_: rgb(53, 53, 53);
  --green_: #46d339;
  --orange_: #ffa500;
}

/* TRANSITION */
a,
.btn {
  transition: all 0.25s ease-in-out;
}

/* BACKGROUND */
.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  height: 300rem;
}

/* WIP HEADER */
#wip-nav {
  display: flex;
  background-color: var(--purple_);
  max-height: 3vh;
  min-width: 100vw;
  position: fixed;
  z-index: 1000;
  bottom: 0;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17.5vh;
}

.nav-links {
  gap: 1.3rem;
  /* Remove bullet points */
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  /* Gets rid of underline from hrefs so we can customize later */
  text-decoration: none;
  text-decoration-color: white;

  transition: all 0.2s ease-in-out;
}

/* Custom hover for hrefs */
a:hover {
  color: var(--purple_);
  text-decoration: underline;
  text-underline-offset: 0.45rem;
  text-decoration-color: var(--purple_);
}

.logo {
  font-size: 2rem;
}

.logo:hover {
  cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  /* transition: all 0.5s ease-in-out; */
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links li {
  list-style: none;
}

/* Increases our height from 0 (none) to something to view list */
.menu-links.open {
  max-height: 300px;
}

/*
  When the hamburger icon is clicked or "opened" is toggled, we should
    1) Rotate the first line down right, shift a bit
    2) Effectively remove the second line
    3) Rotate the third line up left, shift a bit

  I have added a transition effect to the children as well.
*/
.hamburger-icon.open span:first-child {
  /* Note +x, +y is right, down */
  transform: rotate(45deg) translate(10px, 5px);
  transition: all 0.4s ease-in-out;
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
  transform: translate(100px, 0);
  transition: all 0.4s ease-in-out;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
  transition: all 0.6s ease-in-out;
}

/* Could refactor to span:first-child, span:last-child */
.hamburger-icon span:first-child {
  transform: none;
  transition: all 0.4s ease-in-out;
}

.hamburger-icon span:nth-child(2) {
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

.hamburger-icon span:last-child {
  transform: none;
  transition: all 0.4s ease-in-out;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 8rem;
  box-sizing: border-box;
  min-height: fit-content;
}

/* Could be .section-container, #profile but readable */
.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
  cursor: default;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__pic-img {
  border-radius: 50%;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.inline-content {
  display: inline-flex;
  align-items: center;
}

.icon-small {
  height: 1.6rem;
}

.icon-small-grow {
  cursor: pointer;
  height: 1.3rem;
  margin-right: 0.6rem;
  transition: all 0.15s ease;
}

.icon-small-grow:hover {
  transform: scale(1.15);
  transition: all 0.15s ease;
}

.icon {
  height: 2rem;
}

.icon-grow {
  cursor: pointer;
  height: 2rem;
  transition: all 0.15s ease;
}

.icon-grow:hover {
  transform: scale(1.15);
  transition: all 0.15s ease;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

/* Both should have a black border */
.btn-color-1,
.btn-color-2 {
  border: var(--charcoal_) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

/* 
  Button 1 (right) should be charcoal w/ white text
  Button 2 (left) should be white, charcoal on hover
*/
.btn-color-1,
.btn-color-2:hover {
  background: var(--charcoal_);
  color: white;
}

.btn-color-1:hover {
  background: white;
  color: var(--charcoal);
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: white 0.1rem solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  min-width: 70%; /* REMOVE THIS AFTER ADDING TEXT */
}

.about-pic {
  border-radius: 2rem;
  height: 110%;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 80%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.text-container p {
  margin-bottom: 0.5rem;
}

.text-container p:last-child {
  margin-bottom: 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: var(--charcoal_);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  /* width: 10rem; */
  justify-content: space-around;
  gap: 0.75rem;
}

article .icon {
  cursor: default;
}

/* HEATBAR */
.heat-bar-container {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
}

.heat-bar {
  display: flex;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.heat-level {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: all 0.3s ease;
  width: max-content;
  cursor: default;
}

.heat-level:hover {
  flex: 1.5;
}

/* Make sure background color is only the text */
.article-container h3 {
  display: text-block;
  width: max-content;
}

.new {
  background-color: var(--green_);
}

.new-text {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: var(--green_);
  text-decoration-thickness: 4px;
}

.warm {
  background-color: var(--orange_);
}

.warm-text {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: var(--orange_);
  text-decoration-thickness: 4px;
}

.comfortable {
  background-color: var(--purple_);
}

.comfortable-text {
  text-decoration: underline;
  text-underline-offset: 0.4rem;
  text-decoration-color: var(--purple_);
  text-decoration-thickness: 4px;
}

/* PROJECT LISTINGS */
#projects {
  position: relative;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 850px;
  margin: 4rem auto;
}

.project-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: all 0.3s ease;
}

.project-card:hover {
  translate: 0 -5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.project-card a {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
  text-decoration: none;
  color: var(--charcoal_);
  height: 20vh;
}

.project-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 1rem;
  padding: 0.5rem;
  border-radius: 25px;
}

.project-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}

.project-details :last-child {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.project-title {
  font-size: 1.85rem;
}

.project-date, .project-timeframe {
  font-size: 1.2rem;
  color: var(--charcoal_);
}

.project-desc {
  font-size: 1rem;
  color: #666;
}

/* CONTACT INFO */

#contact {
  display: flex;
  justify-content: start;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: var(--charcoal_) 0.1rem solid;
  border-color: var(--charcoal_);
  background: white;
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.email-icon {
  height: 2.75rem;
}
.email-icon:hover {
  transform: scale(1.15);
  transition: all 0.15s ease;
}

.clickable {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* FOOTER SECTION */

footer {
  height: 26vh;
  margin: 0 1 rem;
  display: flex;
  flex-direction: column;
}

footer p {
  text-align: center;
  margin-top: auto;
  margin-bottom: 6.5rem;
}
